<!-- Header Partial -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <ul>
    <form action="/login" method="POST" style="margin:10px;">
    <input id="login" type="text" name="login" placeholder="username" style="width: 75px">
    <label for="login">Login:</label>
    <input type="submit" value="Submit">
    </form>
    </ul>
</body>
</html>