<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>
<body>
  <h2>Your URL:</h2>
  <h4><%= 'Regular URL: ' +urlDatabase[shortURL] %></h4>
  <h4><%= ' Short URL: ' + shortURL %></h4>
</body>
</html>