<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>
<body>
  <h2>Loop</h2>
    <ul>
      <% for (var key in urls) { %>
      <li><%= 'URL: ' + urls[key] + ' Key: ' + key %></li>
      <form method="POST" action='/urls/<%=key%>/delete'><button>Delete</button></form>
      <% }; %>
    </ul>
  <a href>Shorten</a>
</body>
</html>